*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

.navbar{
    background:linear-gradient(90deg,#1E293B,#312E81,#2563EB);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    box-shadow:0 4px 15px rgba(0,0,0,.3);
}

.logo a{
    color:#38BDF8;
    text-decoration:none;
    font-size:30px;
    font-weight:bold;
    letter-spacing:1px;
    transition:.3s;
}

.logo a:hover{
    color:#A78BFA;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:20px;
}

.nav-links a{
    color:#F8FAFC;
    text-decoration:none;
    font-size:17px;
    font-weight:500;
    padding:10px 16px;
    border-radius:8px;
    transition:.3s ease;
}

.nav-links a:hover{
    background:linear-gradient(90deg,#3B82F6,#06B6D4);
    color:white;
    box-shadow:0 0 12px rgba(6,182,212,.6);
}

.active{
    background:linear-gradient(90deg,#8B5CF6,#EC4899);
    color:white;
    box-shadow:0 0 15px rgba(236,72,153,.6);
}

@media(max-width:768px){

    .navbar{
        flex-direction:column;
        padding:20px;
    }

    .nav-links{
        margin-top:15px;
        flex-wrap:wrap;
        justify-content:center;
    }

}