*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    width:550px;
    margin:40px auto;
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
}

h1{
    text-align:center;
    color:#4e73df;
    margin-bottom:25px;
}

form{
    display:flex;
    flex-direction:column;
}

label{
    margin-top:15px;
    margin-bottom:6px;
    font-weight:bold;
}

input,
select{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
}

button{
    margin-top:30px;
    padding:14px;
    border:none;
    border-radius:8px;
    background:#f6c23e;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#e0ac26;
}